span.letras
{
font-family: virtual dj;
background: black;
color: white;
}
span.coros
{
font-size: small;
font-style: oblique;
font-family: virtual dj;
background: black;
color: white;
}
h1.letras
{
color: #58ACFA;
}